#index
  
  & .bio
    height: 100vh
    display: flex
    justify-content: center
    align-items: center

    & img
      background: white

    & .card
      transform: rotate(-5deg)

      @media (max-width: 450px)
        transform: rotate(-4deg) scale(0.9)

      @media (max-width: 350px)
        transform: rotate(-4deg) scale(0.8)

      @media (max-width: 320px)
        transform: scale(0.8)

